<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="Services">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service name="Services.ServiceSample">
        <endpoint address="net.tcp://localhost:1211/ServiceSample" binding="netTcpBinding"
            bindingConfiguration="Services" name="MyServiceSample" contract="ServiceContract.IServiceSample" />
      </service>
    </services>
  </system.serviceModel>
</configuration>