<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetBingding">
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:1211/ServiceSample" binding="netTcpBinding"
          bindingConfiguration="NetBingding" contract="ServiceContract.IServiceSample"
          name="Client" kind="" endpointConfiguration="" />
    </client>
  </system.serviceModel>
</configuration>