@model dynamic

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>title</title>
</head>
<body>
    <div>
        @{
            Html.RenderPartial("_ApplyHeadPartial");
        }
    </div>
</body>
</html>